body {
  margin: 0;
  background-image: url("./images/home-background.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

#greeting {
  background-color: rgb(193, 1, 1);
  height: 30rem;
  width: 50rem;
  margin: 0 auto;
  margin-top: 8%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar {
  border: 1px black solid;
  background-color: rgba(193, 1, 1, 0.796);
  height: 50px;
  width: 100%;
}

#links {
  margin-top: 12px;
}

.link {
  text-decoration: none;
  margin: 0 20px 0 20px;
  color: black;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

#search {
  display: flex;
  justify-content: end;
}

#search input {
  position: relative;
  bottom: 15px;
  right: 10px;
  height: 20px;
  width: 200px;
}

#menu-cataloge {
  text-align: center;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.foodItem {
  margin: 50px 20px 50px 20px;
  background-color: rgb(193, 1, 1);
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

.foodItem img {
  height: 200px;
  width: 200px;
}

.foodItem button {
  margin: 10px 0 10px 0;
  padding: 10px;

  border: 1px black solid;
  border-radius: 20px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(194, 193, 193);
  cursor: pointer;
}
