body {
  margin: 0;
  background-image: url("./images/home-background.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

#greeting {
  background-color: rgb(193, 1, 1);
  height: 30rem;
  width: 50rem;
  margin: 0 auto;
  margin-top: 8%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar {
  border: 1px black solid;
  background-color: rgba(193, 1, 1, 0.796);
  height: 50px;
  width: 100%;
}

#links {
  margin-top: 12px;
}

.link {
  text-decoration: none;
  margin: 0 20px 0 20px;
  color: black;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

#search-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 0 10px;
}

#search-container input {
  height: 30px;
  width: 25%;
  border-radius: 5px;
  border: black solid 1px;
}

#menu-catalog {
  text-align: center;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.foodItem {
  margin: 50px 20px 50px 20px;
  background-color: rgb(193, 1, 1);
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

.foodItem img {
  height: 200px;
  width: 200px;
}

button {
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 1px black solid;
  border-radius: 20px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(194, 193, 193);
  cursor: pointer;
}

#foodItem {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 0 10px;
  border: black solid 1px;
  border-radius: 5px;
  background-color: rgb(193, 1, 1);
}

#foodItem img {
  height: 190px;
  width: 170px;
}

span {
  font-weight: bold;
}

#registerForm {
  margin: 5%;
}

#loginForm {
  width: 30rem;
  margin: 5% auto;
}

#register-container {
  text-align: center;
  background-color: rgb(193, 1, 1);
  width: 15rem;
  height: 8rem;
  margin: 5% auto;
  border: 1px black solid;
  border-radius: 5px;
}

#registerForm,
#loginForm {
  background-color: rgb(193, 1, 1);

  padding-bottom: 5%;
  text-align: center;
  border: black 1px solid;
  border-radius: 5px;
}

#registerForm label,
#loginForm label {
  margin-left: 20px;
}

#registerForm button,
#loginForm button {
  margin-left: 20px;
}

#account {
  height: 15rem;
  width: 30rem;
  margin: 10% auto;
  background-color: rgb(193, 1, 1);
  text-align: center;
  border: black solid 1px;
  border-radius: 5px;
}

.errorMessage {
  color: white;
  text-align: center;
  margin-top: 20%;
}

#cart-title {
  text-align: center;
  margin: 40px 0 100px 0;
  color: white;
}

/* #item-name {
 
} */
table {
  border-collapse: collapse;
  margin: 0 auto;
  /* background-color: rgb(223, 198, 9); */
  background-color: rgb(219, 219, 219);
}

th {
  /* background-color: rgb(156, 3, 3); */
  background-color: rgb(193, 1, 1);
}
table,
th,
td {
  border: 1px solid black;
  width: 75%;
  text-align: center;
}

th,
td {
  height: 30px;
}

#total {
  text-align: center;
  margin-top: 10%;
}

#total p {
  color: white;
  font-weight: bold;
  font-size: larger;
}
